@use '~@ht6/react-ui/dist/styles/colors.module';
@use '~@ht6/react-ui/dist/styles/mixins.module';
@use 'sass:math';
@use '../../styles/mixins.module' as localMixins;

$_width: 10rem;
$_height: 4.5rem;

%cell {
  grid-column: var(--c) / var(--cs, 1) span;
  grid-row: var(--r) / var(--rs, 1) span;
}

.calendarContainer {
  grid-area: calendar;
}

// Event Stuff
.event {
  @extend %cell;
  box-sizing: border-box;
  position: relative;
  padding: 0.25rem;
  height: $_height;
  z-index: 2;
}

.box {
  border-left: 0.25rem solid rgb(var(--a));
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgb(var(--b));
  height: 100%;
}

.accent {
  background-color: rgb(var(--a));
  margin-right: 0.625rem;
  border-radius: 999px;
  min-width: 0.25rem;
  height: 1.5rem;
}

// Date label stuff
.dayContainer {
  display: flex;
  align-items: center;
}

.day {
  box-sizing: border-box;
  position: sticky;
  width: 33%;
  color: white;
  white-space: nowrap;
  text-align: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid white;

  &:hover, &:active {
    cursor: pointer;
    color: colors.getColor(warning-400);
    border-bottom: 4px solid colors.getColor(warning-400);
  }
}

.hour {
  grid-column: 1;
  grid-row: var(--rows) span;
  box-sizing: border-box;
  position: relative;
  width: 7.25rem;
  color: colors.getColor(neutral-50);
  font-size: 1.125rem;
  margin: 1rem 0;
  display: flex;
}

.hourMinutes {
  display: block;

  @include localMixins.media(tablet) {
    display: none;
  }
}

.timeZone {
  margin-left: 0.25rem;
}

// Misc stuff
.root {
  grid-template-rows: max-content max-content 1px repeat(var(--rows), $_height 1px);
  grid-template-columns: $_width repeat(var(--cols));
  overflow: auto;
  display: grid;
}

.now {
  @extend %cell;
  @include mixins.transition(transform);
  transform: translateX(calc(var(--p) * $_width));
  background-color: colors.getColor(neutral-400);
  position: relative;
  width: 0.25rem;
  height: 100%;
  z-index: 4;
  rotate: 270deg;

  &::before {
    background-color: colors.getColor(neutral-400);
    inset: -0.375rem -0.25rem auto auto;
    border-radius: 999px;
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    content: '';
  }
}