@use '../../../styles/mixins.module';

.workshopInput{
  label{
    margin-left: 0;
    line-height: 1.75rem;
    font-size: 1.125rem;
  }
}

.workshops {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @include mixins.media(laptop) {
    grid-template-columns: 1fr;
  }
}
