@use '../../../styles/colors.module' as localColors;
@use '../../../styles/mixins.module' as localMixins;
@use '~@ht6/react-ui/dist/styles/mixins.module';
@use '~@ht6/react-ui/dist/styles/colors.module';

.container {
  

  p {
    margin-bottom: 1rem;
  }

  .title{
    letter-spacing: normal;
    margin-bottom: 1rem;
  }
  .grid{
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content auto;
    grid-gap: 3rem;
    column-gap: 9rem;
    display: grid;

    .title{
      margin-bottom: -2rem;
    }

    .heading, .row_border, .discord, .links{
      grid-column: 1;
    }

    .heading{
      align-self: start;
      .subheading{
        .date{
          color: colors.getColor(warning-400);
        }
        margin-bottom: 1.5rem;
      }
  
      .location{
        margin-bottom: 0;
        .link {
          @include mixins.transition(color);
          color: colors.getColor(neutral-300);
          text-decoration: underline;
        
          &:hover,
          &:focus {
            color: colors.getColor(neutral-300, hover);
          }
        
          &:active {
            color: colors.getColor(neutral-300, active);
          }
        }
      }
  
      @include localMixins.media(mobile){
        text-align: center;   
      }
    }

    .row_border{
      border-bottom: 1px solid colors.getColor(neutral-50);
      max-height: 0;
      align-self: start;
    }
  
    .status{
      grid-column: 2;  
      display: absolute;
      grid-row-start: 2;
      grid-row-end: 5;
    }
  }
  
}


.copy {
  position: relative;
}

.icon {
  color: colors.getColor(primary-700);
  margin: auto 1rem auto auto;
  position: absolute;
  width: 1rem;
  height: auto;
  inset: 0;
}

.command {
  @include mixins.transition(filter);
  background-color: localColors.$bg-light-grey;
  justify-content: center;
  border-radius: 1.25rem;
  padding: 0.75rem 2.75rem;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  display: flex;
  border: none;
  width: 100%;

  &:hover,
  &:focus {
    filter: brightness(0.96);
  }

  &:active {
    filter: brightness(0.92);
  }
}

.links {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  grid-gap: 1.25rem;
  padding: 0;
  margin: 1rem 0 0;

  @include localMixins.media(laptop) {
    grid-template-columns: 1fr;
  }
}

.disabled {
  pointer-events: none;
  filter: blur(0.125rem) saturate(0);
  opacity: 0.2;
}

.qrBox {
  background-color: localColors.$bg-light-grey;
  justify-content: center;
  display: flex;
  border-radius: 1.25rem;
  box-shadow: none;
  padding: 1.25rem;
}

.qr {
  width: 9.25rem;
  height: 9.25rem;
}

.actions {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0.25rem;
  grid-gap: 0.25rem;
}

.action {
  font-size: 0.75rem;
  padding: 0.3rem 1rem;
}
