@use '~@ht6/react-ui/dist/styles/mixins.module';
@use '~@ht6/react-ui/dist/styles/colors.module';
@use '../../styles/mixins.module' as localMixins;
@use '../../styles/vars.module';

.section {
  max-width: map-get(vars.$widths, form) * 0.7;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin: 0 auto;
  display: grid;
  border: none;
  padding: 0;

  & > * {
    margin-bottom: auto;
  }

  @include localMixins.media(tablet) {
    grid-template-columns: 1fr;
  }
}

.field {
  &--full-width {
    grid-column-end: 2 span;

    @include localMixins.media(tablet) {
      grid-column-end: 1 span;
    }
  }

  &--break {
    grid-column-start: 1;
  }
}

.items {
  grid-template-columns: 1fr;
  list-style-type: none;
  grid-gap: 0.75rem;
  display: grid;
  padding: 0;
  margin: 0;
}

.link {
  @include mixins.transition(color);
  color: colors.getColor(primary-1);
  text-decoration: none;

  &:hover,
  &:focus {
    color: colors.getColor(primary-1, hover);
  }

  &:active {
    color: colors.getColor(primary-1, active);
  }
}
